<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Websium</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <style>
        #serviceslink {
            color: white !important;
        }
        #serviceslink:hover {
            color: #fed160 !important;
        }

        .serv-block {
            background-color: #0f0e0e !important;
            border-radius: 10px;
        }
    </style>
</head>


<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" id="mainNav"">
        <div class="container"><a class="navbar-brand" href="#page-top">W E B S I U M</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background: rgb(255,255,255);"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto text-uppercase">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" id="serviceslink" href="#services" style=>Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url('assets/img/header-bg.jpg');">
        <div class="container">
            <div class="intro-text" style="padding-bottom: 360px;"> 
                <div class="intro-lead-in"><span>Your design, Your imagination,</span></div>
                <div class="intro-heading text-uppercase"><span>Our Expertise</span></div><a class="btn btn-primary btn-xl text-uppercase" role="button" href="#services">Tell mE more</a>
            </div>
        </div>
    </header>
    <section id="about" style="padding: 100px 25px 0px 0px;">
        <div class="photo-card">
            <div class="photo-background" style="background-image:url('assets/img/product-aeon-feature.jpg');"></div>
            <div class="photo-details">
                <h1 style="margin-bottom: 17px;">About Us</h1>
                <p style="margin-top: 19px;margin-bottom: 0px;box-shadow: 0px 0px;padding-top: 2px; text-align: justify;">At Websium, our heartfelt goal is to empower businesses like yours with tailor-made Web Designs that captivate your audience and reflect your brand's essence. We measure our success through your success, working hand in hand to celebrate every milestone and triumph together. With a genuine commitment to your growth, we strive to leave a lasting impression on your customers and witness your business flourish in the digital realm</p>
            </div>
        </div>
    </section>



    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    
                    <h2 class="text-uppercase section-heading fade-in">Services</h2>
                    <h3 class="section-subheading fade-in" style="text-align: center !important;">Unleash Your Digital Potential with our Cutting-Edge Services!</h3>
                </div>
            </div>
            <div class="ser-row row text-center ">
                <div class="b1 col-md-4 serv-block" ><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">E-Commerce</h4>
                    <p class="text-muted">Secure payment gateways, enhanced shopping features. Elevate user experience, increase conversions with WebSium's solutions.</p>
                </div>
                <div class="b2 col-md-4 serv-block" ><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-laptop fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">Responsive Design</h4>
                    <p class="text-muted">Static sites boast stunning visuals, seamless UX. Experience Dynamic sites with interactive features, real-time updates.</p>
                </div>
                <div class="b3 col-md-4 serv-block" ><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-lock fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">API Integration</h4>
                    <p class="text-muted">Seamlessly integrate third-party APIs. Tailored custom APIs for enhanced interactions. WebSium empowers your website's functionality.</p>
                </div>
                <div class="b4 col-md-4 serv-block"  ><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-database fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">Database</h4>
                    <p class="text-muted" >Find the perfect database solution tailored to your needs. Seamlessly migrate and optimize data for success. Make informed decisions through efficient data management.</p>
                </div>
                <div class="b5 col-md-4 serv-block" ><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-user-secret fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">Security</h4>
                    <p class="text-muted">Expert risk assessments ensure robust protection. Trust us to keep your project safe from potential threats. Rest easy with our vigilant monitoring and proactive defense..</p>
                </div>
                <div class="b6 col-md-4 serv-block" ><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-gears fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">Maintenance</h4>
                    <p class="text-muted">Providing maintenance for a grace period. Seamlessly optimize and update for peak performance. Trust our expertise for sustained web brilliance.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio" style="background-color: #0f0e0e;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading" style="color: white;">Portfolio</h2>
                    <h3 class="text-muted section-subheading" style="color: white;">Showcasing our digital masterpieces, a collection of web brilliance!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal1" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="assets/img/portfolio/1-thumbnail.jpg">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Fashion</h4>
                        <p class="text-muted">E-commerce</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal2" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="assets/img/portfolio/2-thumbnail.jpg">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Explore</h4>
                        <p class="text-muted">E-commerce</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal3" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="assets/img/portfolio/3-thumbnail.jpg">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Creativity</h4>
                        <p class="text-muted">E-commerce</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal4" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="assets/img/portfolio/4-thumbnail.jpg">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Innovation</h4>
                        <p class="text-muted">E-commerce</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal5" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="assets/img/portfolio/5-thumbnail.jpg">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Eye catching</h4>
                        <p class="text-muted">E-commerce</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal6" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="assets/img/portfolio/6-thumbnail.jpg">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Clothing</h4>
                        <p class="text-muted">E-commerce</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" style="background-image:url('assets/img/map-image.png');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Contact Us</h2>
                    <h3 class="section-subheading" style="color: white;">Can't wait to connect with you!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm" name="contactForm">
                        <div class="row">
                            <div class="col-md-6" style="color: white !important;">
                                <div class="form-group mb-3">
                                    <input class="form-control" type="text" id="name" name="name" placeholder="Your Name *" required="" style="color: white !important;">
                                    <small class="form-text text-danger flex-grow-1 lead"></small>
                                </div>
                                <div class="form-group mb-3">
                                    <input class="form-control" type="email" id="email" name="email" placeholder="Your Email *" required="" style="color: white !important;">
                                    <small class="form-text text-danger lead"></small>
                                </div>
                                <div class="form-group mb-3">
                                    <select class="form-control" id="country" name="country" required="" style="color: white !important;">
                                        <option value="" selected disabled class="countryoption">Your Country *</option>
                                        <script>
                                            const countries = [
                                                "Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua and Barbuda", "Argentina", "Armenia",
                                                "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus",
                                                "Belgium", "Belize", "Benin", "Bhutan", "Bolivia", "Bosnia and Herzegovina", "Botswana", "Brazil",
                                                "Brunei", "Bulgaria", "Burkina Faso", "Burundi", "Cabo Verde", "Cambodia", "Cameroon", "Canada", "Central African Republic",
                                                "Chad", "Chile", "China", "Colombia", "Comoros", "Congo (Brazzaville)", "Congo (Kinshasa)", "Costa Rica",
                                                "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic",
                                                "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Eswatini", "Ethiopia",
                                                "Fiji", "Finland", "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Grenada",
                                                "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Holy See", "Honduras", "Hungary", "Iceland",
                                                "India", "Indonesia", "Iran", "Iraq", "Ireland", "Israel", "Italy", "Jamaica", "Japan", "Jordan", "Kazakhstan",
                                                "Kenya", "Kiribati", "Korea, North", "Korea, South", "Kosovo", "Kuwait", "Kyrgyzstan", "Laos", "Latvia",
                                                "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Madagascar", "Malawi",
                                                "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Mauritania", "Mauritius", "Mexico", "Micronesia",
                                                "Moldova", "Monaco", "Mongolia", "Montenegro", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauru", "Nepal",
                                                "Netherlands", "New Zealand", "Nicaragua", "Niger", "Nigeria", "North Macedonia", "Norway", "Oman", "Pakistan",
                                                "Palau", "Palestine", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal",
                                                "Qatar", "Romania", "Russia", "Rwanda", "Saint Kitts and Nevis", "Saint Lucia", "Saint Vincent and the Grenadines",
                                                "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone",
                                                "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Sudan", "Spain", "Sri Lanka",
                                                "Sudan", "Suriname", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Timor-Leste",
                                                "Togo", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey", "Turkmenistan", "Tuvalu", "Uganda", "Ukraine",
                                                "United Arab Emirates", "United Kingdom", "United States", "Uruguay", "Uzbekistan", "Vanuatu", "Venezuela", "Vietnam",
                                                "Yemen", "Zambia", "Zimbabwe"
                                            ];
                                
                                            countries.forEach(country => {
                                                const option = document.createElement("option");
                                                option.value = country;
                                                option.text = country;
                                                document.getElementById("country").appendChild(option);
                                            });
                                        </script>
                                    </select>
                                    <small class="form-text text-danger lead"></small>
                                </div>                                
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <textarea class="form-control" id="message" name="message" placeholder="Your Message *" required="" style="color: white !important;"></textarea>
                                    <small class="form-text text-danger lead"></small>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit" style="border-color: white;">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer >
        <div class="container">
            <div class="row" ">
                <div class="col-md-4" style="background-color: black !important;"><span class="copyright">Copyright&nbsp;© Websium 2023</span></div>
                <div class="col-md-4" style="background-color: black !important;">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="https://twitter.com/websium"><i class="fa fa-twitter"></i></a></li>
                        <!-- <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li> -->
                        <li class="list-inline-item"><a href="https://www.linkedin.com/company/websium/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4" style="background-color: black !important;">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item"><a href="/toc">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Personal project</h2>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/1-full.jpg">
                                <p> A visually captivating and functionally streamlined e-commerce theme designed to elevate your online business. With a minimalist yet elegant approach, this theme ensures your products take center stage while offering a seamless and delightful browsing experience for your customers. Fully optimized for mobile responsiveness, customizability, and SEO, this theme guarantees a standout online presence and increased conversions. Embark on a journey of success with our dedicated support, guiding you every step of the way in building a remarkable online store.</p>
                                <ul class="list-unstyled">
                                    <li>Date: 2023</li>
                                    <li>Category: E-commerce</li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal2">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Personal project</h2>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/2-full.jpg">
                                <p>Embark on an exhilarating shopping journey with our e-commerce wonderland, where possibilities are limitless. Dive into a treasure trove of products that cater to your every desire, as you explore an array of handpicked items from across the globe. Uncover hidden gems and redefine the way you shop, all from the comfort of your own home. Embrace the thrill of discovery and let your curiosity lead the way!</p>
                                <ul class="list-unstyled">
                                    <li>Date: 2023</li>
                                    <li>Category: E-commerce</li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal3">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Personal project</h2>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/3-full.jpg">
                                <p>Welcome to our innovative e-commerce hub, where creativity knows no bounds. Unleash your artistic spirit as you browse through a captivating collection of handcrafted treasures and unique designs. Embrace individuality with personalized products that reflect your imagination and style. Join a vibrant community of artisans and enthusiasts, where every purchase supports the power of creative expression.</p>
                                <ul class="list-unstyled">
                                    <li>Date: 2023</li>
                                    <li>Category: E-commerce</li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal4">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Personal project</h2>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/4-full.jpg">
                                <p>Step into the future of shopping with our revolutionary e-commerce platform, where innovation takes center stage. Experience cutting-edge technology that simplifies your journey from browsing to checkout, ensuring a seamless and delightful shopping experience. Explore groundbreaking products and trends that push the boundaries of what's possible, curated to keep you ahead of the curve. Embrace the spirit of progress and discover a world of endless possibilities, all at your fingertips.</p>
                                <ul class="list-unstyled">
                                    <li>Date: 2023</li>
                                    <li>Category: E-commerce</li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal5">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Personal project</h2>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/5-full.jpg">
                                <p>Prepare to be mesmerized by our stunning e-commerce wonderland, where eye-catching products steal the spotlight. Immerse yourself in a visually captivating experience, as you browse through a carefully curated selection of dazzling items that leave a lasting impression. From chic fashion to striking home decor, every purchase promises to turn heads and spark conversations. Get ready to stand out from the crowd and make a statement with our show-stopping collection.</p>
                                <ul class="list-unstyled">
                                    <li>Date: 2023</li>
                                    <li>Category: E-commerce</li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal6">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Personal project</h2>
                                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/6-full.jpg">
                                <p>Welcome to your ultimate fashion destination, where style meets comfort and trends are redefined. Explore an extensive array of clothing options that cater to every occasion, from casual wear to elegant ensembles. Discover the perfect fit for your unique taste, and elevate your wardrobe with our curated collections. Unleash your inner fashionista and shop confidently for the latest in clothing trends, all in one place.</p>
                                <ul class="list-unstyled">
                                    <li>Date: 2023</li>
                                    <li>Category: E-commerce</li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/script.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/agency.js"></script>
</body>

</html>